@model IEnumerable<MVCEmpresa.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-Warning" asp-route-id="@item.ClaveDepartamento">Edit</a> |
                <a asp-action="Details" class="btn btn-Primary" asp-route-id="@item.ClaveDepartamento">Details</a> |
                <a asp-action="Delete" class="btn btn-Danger" asp-route-id="@item.ClaveDepartamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
