@model IEnumerable<MVCEmpresa.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoNavigation.ClaveDepartamento)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-Warning" asp-route-id="@item.ClaveDeEmpleado">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ClaveDeEmpleado">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ClaveDeEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
